.idea/
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
*.md.html
.svn/
*.swp
*.pyc
*.pyo


vendor/

composer.lock
package-lock.json


node_modules/

/public/phpinfo.php
/public/assets/dist/*.js.map
/public/assets/dist_dev/*.js.map

/test.php
/phpinfo.php

public/assets/index.blade.php
database/generation/models.py
