.idea/
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
*.md.html
.svn/
*.swp
*.pyc
*.pyo


composer.lock
package-lock.json
themes/


vendor/
node_modules/
markdown/

/public/phpinfo.php
/public/robots.txt

/test.php
/phpinfo.php
app-migrate/config.py
